.header-darkblue{
    background-color: #0b1c3d
}
.nav-item:hover{
    background-color: darkblue;
    padding: 1px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px white;
    font-weight: bold;
    transition: 0.7s;
    margin: 7px;
}
.nav-item{
    margin: 5px;
}
main{
    padding: 10px;
    background-image: linear-gradient(rgb(4,0,0,0.5), rgb(4,0,0,0.5)), url("IMG-20260122-WA0030.jpg");
    height: 70vh;
}
section{
    text-align: center;
    color: white;
    margin: 200px 0px;
}
.footer-darkblue{
    background-color: #0b1c3d;
}
.A{
    display: flex;
    justify-content: space-between;
}
.B{
    width: 500px;
    height: 450px;
    border: 8px solid transparent;
    overflow: hidden;
    background-color: white;
    color: black;
    text-align: center;
    object-fit: cover;
    margin: 50px 50px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    box-shadow: 5px 5px 30px black;
}
.B:hover{
    transition: 0.7s;
    transform: translateY(-20px);
}
.B h1{
    color: darkblue;
    margin: 10px 0px;
}
.B a{
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
.B a:hover{
    background-color: white;
    box-shadow: 5px 5px 30px black;
    color: black;
}
.ABED1{
    width: 400px;
    height: 400px;
    border: 4px solid aliceblue;
    box-shadow: 5px 5px 30px black;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    margin: 120px 30px;
    
}
.des {
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    height: 500px;
}
.ABED1:hover .des{
    transform: translateY(-260px);
    transition: 0.7s;
}
.ABED1 img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.ABED1:hover img{
    transform: translateY(-260px);
    transition: 0.7s;
}
.des  a{
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.des li{
    list-style: none;
}
.des{
    border-radius: 10px;
}
.ABED{
    width: 1000px;
    height: 700px;
    border: 8px solid transparent;
    margin: 0px 10px;
    overflow: hidden;
    box-shadow: 6px 6px 30px black;
    border-radius: 20px;
    margin: 100px 0px;
    background-color: #0b1c3d;
}
.ABED{
    display: flex;
    justify-content: center;
}
.ABED_{
    text-align: center;
    margin: 200px 0px;
}
.ABED_ h3{
    font-size: 30px;
}