body{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url(IMG-20260122-WA0029.jpg);
}
header{
    position: relative;
    width: 700px;
    height: 570px;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0 0 1500px rgb(0, 0, 47);
    overflow: hidden;
    margin: 90px 50px;
    background-color: darkblue;    
    background-size: 800px;
}
h1{
    margin: 40px 235px;
    color:  aliceblue;
}

form{
    margin: 50px 120px;
}
form input{
    margin: 15px;
}
.containe input{
    font-size: 30px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 30px BLACK;
    transform: translate(20px,10px);
}
.abed1 input{
    font-size: 30px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 30px BLACK;
    transform: translate(20px,10px);

}
.abed input{
    font-size: 30px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 30px BLACK;
    transform: translate(20px,10px);

}
.abed2 input{
    font-size: 30px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 30px BLACK;
    transform: translate(20px,10px);

    
}
.abed3 input{
    margin: 10px 30px;
}
.abed3 a{
    margin: 20px;
}

button{
    font-size: 30px;
    margin: 20px 140px;
    color: rgb(0, 6, 11);
    background-color: transparent;
    box-shadow: 0 0 30px;
    border-radius: 20px;
}
button:hover{
    transform: scale(1.1);
    background-color: black;
    box-shadow: 5px 5px 30px aliceblue;
    color: aliceblue;
}
a{
    color: white;
    margin: 20px;
}
P{
    color: black;
    margin: 20px 50px;
}
.abed3 label{
    color: aliceblue;
}
